@model AircraftViewModel
 
 

<h2>List of Aircrafts</h2>


@Html.ActionLink("Add Aircraft", "New", "Aircraft", null, new { @class = "btn btn-primary" })

<br />
<br />
<table id="Aircrafts" class="table table-striped">
    <thead>
        <tr>
            <th scope="col"> AircraftID </th>
            <th scope="col"> Aircraft </th>
            <th scope="col"> Fuel Comsumption </th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<ul></ul>

<script>
    $(document).ready(function () {
        var table = $("#Aircrafts").DataTable({
            "processing": true, // for show progress bar
            "serverSide": false, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "/Aircraft/GetList",
                "type": "Get",
                "datatype": "json",
                "dataSrc": ""
            },
            "columnDefs":
            [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "columns": [
                { "data": "AircraftId", "name": "AircraftId", "autoWidth": false },
                { "data": "Name", "name": "Name", "autoWidth": false },
                { "data": "FuelComsumption", "name": "Fuel Comsumption", "autoWidth": false },
                {
                    "render": function (data, type, full, meta) { return '<a class="btn btn-info" href="/Aircraft/Edit/' + full.AircraftId + '">Edit</a>'; }
                },
                {
                    data: "AircraftId",
                    render: function (data) {
                        return "<button class='btn btn-danger' data-Aircraft-id=" + data + ">Delete</button>";
                    }
                }
            ]

        });

        $("#Aircrafts").on("click", ".btn-danger", function () {
            var button = $(this); 

            if (confirm("Are you sure you want to delete ...?")) {
                //Delete();

                $.ajax({
                    url: "/Aircraft/Delete/?Id=" + button.attr("data-Aircraft-id"),
                    method: "DELETE",
                    success: function (data) {
                        if (data == true) {
                            // console.log("success");
                            table.row(button.parents("tr")).remove().draw();
                        } else {
                            //console.log("data =" + data);
                            alert('error :You can not delete , element used in the system !');
                        } 
                    } 
                }); 
            }
            else {
                return false;
            }
        });


    });

</script> 